.section.improve-skills{
    .col.image{
        margin-right: 1em;
        img{
            width: 100%;
        }
    }
    .skill-item{
        border-left: 0.25em solid var(--primary-color);
        margin-bottom: 0.5em;
        padding: 0.1em 0 0.1em 0.5em;
        color: var(--text-light);
        font-weight: bold;
    }
    .btn{
        margin-top: 1em;
    }
}